/*
    Ici les propriétés CSS s'appliquent à toutes les tailles d'écrans,
    sans exception
 */

/**
 * .wrapper : site full width
 * .container : site centré au milieu de l'écran
 * .row pour gérer les éléments sous forme de ligne
 */

[class*=l-col-], [class*=m-col-], [class*=s-col-], [class*=sl-col-], .wrapper,
    .container, .row {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* ------------------------ pour voir les blocs ------------------------- */
    /* ------------------------ TODO : commenter en prod--------------------- */
    background: rgba(144, 193, 242, 0.5);
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #080adb;
    /* ------------------------------ END ----------------------------------- */
}

.wrapper {
    max-width: 100%;
    margin: auto;
}

.wrapper:after, .wrapper:before, .container:after, .container:before,
    .row:after, .row:before {
    display: table;
    content: "";
    clear: both;
    height: 0px; /* IE dirty workaround */
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle; /* supprime l'espace de quelques pixels sous les images */
}

a {
    outline: none; /* supprime les cadres bleu autour des images insérées dans
    les liens avec IE */
}

.container {
    max-width: 960px; /* à changer si je veux passer un site plus large et que
    tous ses enfants s'adaptent automatiquement */
    margin: auto
}

.l-col-12 {
    width: 100%;
    float: left;
}

/* media queries pour les tablettes */
@media only screen and (max-width: 800px) {
    /*
        ici les propriétés CSS ne seront interprétées que par les écrans
        dont la largeur en pixel est inférieure à 800px
    */
   .l-col-4 {
        width: 100%;
        background: red;
    }
   .m-col-4 {
        width: 33%;
        background: yellow;
    }
}

/* tous les smartphones en mode portrait */
@media only screen and (max-width: 640px) {
    /*
        ici les propriétés CSS ne seront interprétées que par les écrans
        dont la largeur en pixel est inférieure à 640px
    */
   .l-col-4 {
        width: 100%;
        background: orange;
    }
    .m-col-4 {
        width: 100%;
    }
    .s-col-4 {
        width: 33%;
        background: green;
    }
}

/* tous les smartphones en mode horizontal */
@media only screen and (max-width: 640px) and (orientation: landscape) {
    /*
        ici les propriétés CSS ne seront interprétées que par les écrans
        dont la largeur en pixel est inférieure à 640px
    */
   .l-col-4 {
        width: 100%;
        background: orange;
    }
    .m-col-4 {
        width: 100%;
    }
    .s-col-4 {
        width: 33%;
        background: green;
    }
}
